<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <script type="text/javascript">
        document.title = "Conk Options"
    </script>
</head>
<body>
    <div>
        <img src="~/uRevealPro_newLogo.png" alt="uRevealLogo" style="width:110px; padding-bottom:40px; height:30px; float:left">
    </div>
    <br>
    <div align="center">
        <h2 style="color: white; background-color: #317399; padding: 20px;">Conk Options</h2>
    </div>
    <fieldset style="border: 2px solid gray">
        <legend>My Conks</legend>
        <form method="post" enctype="multipart/form-data">
            <div align="center">
                <label for="file"></label>
                <input type="file" id="file" name="file" multiple>
            </div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <div align="center" style="padding-right:80px">
                <button>Submit&emsp;&emsp;</button>
                <button>Cancel</button>
            </div>
        </form>
    </fieldset><fieldset style="border: 2px solid gray"><legend>Public Conks</legend></fieldset>
    @*<a href="javascript:history.go(-1)">Go Back</a>*@
    @*<a href="javascript:history.back()">Go Back</a>*@

    @*<button onclick="document.location.href='./Index';">Go Back</button>*@
    @*<a href="@Url.Action("Index","Home")" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 20px;" target="_blank">Go Back</a>*@
    @*<button onclick="goBack();">Go Back</button>
        <script>
                function goBack() {
                    @Url.Action("Help","Home")";

            }

            //function backAway() {
            //    if (window.history.length == 0) { //alternatively, window.history.length == 0
            //        window.location = "./Index";
            //    } else {
            //        history.back();
            //    }
            //}

        </script>*@
</body>
</html>